<div class="title">
    <div class="features row">
        <div class="col-md-4">
            <button class="btn btn-default features"> Оценка конкурентоспособности</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default features"> Автоматизированный расчет</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default features"> Графичесий анализ данных</button>
        </div>
    </div>
    <div class="title">
        <img src="img/title.png">
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <a href="/signin">
                <button class="btn btn-default">Вход</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="/signup">
                <button class="btn btn-default">Регистрация</button>
            </a>
        </div>
    </div>
</div>