<div class="space">
    <form class="form-horizontal" role="form" name="loginForm" novalidate>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <input type="text" id="userName" name="userName" placeholder="Имя пользователя" class="form-control"
                       ng-model="userName" required/>
                <span class="help-block" ng-show="loginForm.userName.$touched && loginForm.userName.$invalid">Пожалуйста введите имя пользователя.</span>
            </div>
            <div class="col-sm-3">
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <input type="password" id="curPassword" name="password" placeholder="Текущий пароль"
                       class="form-control" ng-model="curPassword" required/>
                <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Пожалуйста введите текущий пароль.</span>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <input type="password" id="newPassword1" name="password" placeholder="Пароль" class="form-control"
                       ng-model="password1" required/>
                <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Пожалуйста введите новый пароль.</span>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <input type="password" id="newPassword2" name="password" placeholder="Пароль" class="form-control"
                       ng-model="password2" required/>
                <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Пожалуйста введите новый пароль.</span>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary col-sm-offset-3" ng-click="authenticate(userName)"/>
    </form>
</div>